.column {
    float: left;
    padding: 10px;
  }
  #ev li :hover{
    background-color: darkgoldenrod;
  }
  /* Left and right column */
  .column.side {
    width: 23%;
    
  }
  #c1{
    margin-left: 2%;
  }
  #c2{
    margin-right: 0.1%;
    
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #k{
    padding-bottom: 270%;
  }
  #j{
    padding-bottom: 270%;
  }
  .fa {
    margin-top: 1%;
    margin-bottom: 1%;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
  background: #3B5998;
  color: white;
  
  }
  .fa-instagram {
  background: #125688;
  color: white;
  }
  #fl{
    margin-top: 10%;
    margin-bottom: 20%;
  
  }
  #pic{
    padding-left:1% ;
    border-radius: 50%;
    
    
  }
  #ero{
    padding-left: 10%;
  }
  #teams {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  #teams td, #teams th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #teams tr:nth-child(even){background-color: #f2f2f2;}
  
  #teams tr:hover {background-color: #ddd;}
  
  #teams th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #282e30;
    color: white;
  }
  #er{
    border-radius: 5%;
  }
  body {
     
    display: block;
    position: relative;
  }
  
  body::after {
    content: "";
    background: url(bg.png);
    
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
  